# ignore wordpress readme
/liesmich.html
/readme.html

# ignore image directories
/wp-content/gallery
/wp-content/uploads

# ignore eclipse specific directories/files
/.settings
.buildpath
.project

# ignore php info file if any
phpinfo.html
