# ignore wordpress readme
/liesmich.html
/readme.html

# ignore image directories
/wp-content/gallery
/wp-content/uploads

# ignore eclipse specific directories/files
/.settings
.buildpath
.project

# ignore vs-code specific directories/files
.vscode

# this files we definitely don't want to share
phpinfo.html
wp-config.php
error.log
debug.log

# ignore really-simpe-captcha tmp directory
/wp-content/plugins/really-simple-captcha/tmp

# ignore docker development directory
/wordpress
